# Ignorar archivos de Python compilados, entornos virtuales
__pycache__/
.env/
venv/
# Ignorar bases de datos de SQLite/locales
*.db
*.sqlite3
*.db-journal
*.db-shm
*.db-wal
# Ignorar archivos de configuración sensibles
config.json
credentials.json
# Ignorar archivos de registro
*.log
logs/
# Ignorar archivos temporales y de caché
*.tmp
*.cache
temp/
# ignorar keys de cifrado
*.key
*.exe